---
import "../styles/global.css";

interface Props {
    title: string;
    description?: string;
}

const {
    title,
    description = "Portafolio profesional de Issac Pacheco, especialista en desarrollo web, backend con PHP, MySQL, JavaScript, Bootstrap y consultoría técnica.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <!-- Google Tag Manager -->
        <script is:inline>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-N5ZCJ3FN");
        </script>
        <!-- End Google Tag Manager -->

        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-RFN1H30FZ4"
        ></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-RFN1H30FZ4");
        </script>

        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <!-- SEO -->
        <meta
            name="keywords"
            content="desarrollador web, backend, PHP, MySQL, Python, portafolio, Issac Pacheco"
        />
        <meta name="author" content="Issac Pacheco" />

        <!-- Open Graph / Twitter -->
        <meta property="og:title" content={title} />
        <meta
            property="og:image"
            content="https://issacpacheco.github.io/assets/images/Home/issacpacheco-profile.jpg"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Outfit:wght@500;700;800&display=swap"
            rel="stylesheet"
        />
        <title>{title}</title>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-N5ZCJ3FN"
                height="0"
                width="0"
                style="display:none;visibility:hidden"></iframe></noscript
        >
        <!-- End Google Tag Manager (noscript) -->
        <slot />
    </body>
</html>
